stages:
  - test
  - build
  - deploy

variables:
  IMAGE_NAME: chchdelm3/it-ggi:latest

test:
  stage: test
  script:
    - echo "execute test.py"

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWD
  script:
    - docker build -t $IMAGE_NAME .
    - docker push $IMAGE_NAME
    - docker images

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker container rm -f it-ggi 
    - docker run -d -p 5000:5000 --name it-ggi --restart always -e DATABASE_URL=$DATABASE_URL $IMAGE_NAME
    - docker ps
  only:
    - main
